* {
	box-sizing: border-box;
}

body {
	font: 14px/20px 'Raleway';
	font-weight: 500;
	color: #333;
}

#main {
	width: 400px;
	margin: 0 auto;
}

form {
	overflow: hidden;
}

label {
	margin-bottom: 15px;
	display: block;
	font-size: 13px;
	text-transform: capitalize;
	width: 50%;
	float: left;
	color: gray;
}

input {
	width: 95%;
	padding: 6px 8px;
	border: 1px solid #b6b6b6;
}